@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
  margin: 0;
  background: rgb(126, 143, 137);
  font-family: 'Playfair Display', serif;
}

.navbar {
  background: rgb(52, 104, 69);
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 2rem;
}

.Input , .Post {
  border: 1px solid rgb(224, 224, 224);
  border-radius: 5px;
  width: 600px;
  margin: 20px auto;
  background-color: rgb(250, 250, 250);
}

.Input_header {
  padding: 10px;
  background: rgb(212, 212, 212);
  font-size: 1.25rem;
}

.Input_field {
  margin: auto 0 0;
  width: 100%;
  height: 100px;
  padding: 0;
  border: 0px;
  font-size: 1.5rem;
}

.Input_field:focus {
  outline: none;
}

.Post {
  width: 570px;
  padding: 15px;
}

.Post_image {
  width: 100%;
  margin-top: 15px;
}

.Post_delete {
  border: none;
  background: none;
  padding:0;
  float: right;
  cursor: pointer;
}